@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root {
    --color-primary-600: 206, 149, 86;
    --color-primary-400: 215, 182, 121;
    --color-gray-500: 107, 114, 128;
  }
  h1{
    @apply text-5xl
  }
  h2{
    @apply text-[40px]
  }
  h4{
    @apply text-3xl
  }
}
 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components {
  .buttons {
    @apply text-white bg-primary-600 rounded-sm px-5 py-2
  }
}